enapter3 connection add --name my-conn --url {{.URL}} --token {{.Token}}
enapter3 device change-blueprint --connection my-conn --device-id 3b0a0626-2dc4-44a3-ac5a-34d58b7b2a26 --blueprint-path ./testdata/blueprints/simple
